In [2]:
# Step 1: Load libraries and read csv
import pandas as pd
import numpy as np
df = pd.read_csv("../data/raw/online_retail_dataset.csv")

In [ ]:
# Inspect the data
display(df.tail(20))
df.info()
df.describe(include="all")

In [13]:
# Remove duplicate rows
df.drop_duplicates(inplace=True)

In [62]:
#Handle missing values
df['description'] = df['description'].fillna("Unknown")
df = df.dropna(subset=['invoiceno', 'quantity', 'unitprice'])

In [51]:
# Remove special characters
# convert to lowercase, replace spaces with _, remove special chars
df.columns = (
    df.columns.str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace(r"[^a-zA-Z0-9_]", "", regex=True)
)

In [50]:
# Correct negative or zero values
df = df[(df['quantity'] > 0) & (df['unitprice'] > 0)]

In [ ]:
# Remove special characters using regex
df['Description'] = df['Description'].str.replace('[^A-Za-z0-9 ]+', '', regex=True)

In [55]:
# Standardize text
df['description'] = df['description'].str.strip().str.lower()
df['country'] = df['country'].str.strip().str.title()

In [56]:
# Remove outliers (IQR method)
Q1 = df['quantity'].quantile(0.25)
Q3 = df['quantity'].quantile(0.75)
IQR = Q3 - Q1

df = df[(df['quantity'] >= Q1 - 1.5*IQR) & (df['quantity'] <= Q3 + 1.5*IQR)]

In [59]:
# Create TotalPrice
df['totalprice'] = df['quantity'] * df['unitprice']

In [64]:
# Fix data types
df['invoicedate'] = pd.to_datetime(df['invoicedate'])
df['invoiceno'] = df['invoiceno'].astype(str)
df['customerid'] = df['customerid'].astype("Int64") 
df['totalprice']=pd.to_numeric(df['totalprice'])

In [65]:
# Save Cleaned Data
df.to_csv("../data/cleaned/cleaned_online_retail.csv", index=False)

In [66]:
# Load Data Into PostgreSQL (Python)
from sqlalchemy import create_engine

engine = create_engine("postgresql://postgres:password@localhost:5432/online_retail")

df.to_sql("retail_sales", engine, if_exists="replace", index=False)

600